.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 32px 0;
}

.link,
.linkBasket {
  text-decoration: none;
}

.linkBasket {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  background: #fe5f1e;
  color: #fff;
  gap: 14px;
}

.pizzaIcon {
  display: flex;
  align-items: center;
  gap: 17px;
}
.pizzaIcon > img {
  width: 38px;
  height: 38px;
}
.title {
  display: flex;
  flex-direction: column;
}
.title > h1 {
  color: #181818;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.title > p {
  color: #7b7b7b;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.price {
  display: flex;
  align-items: center;
}
.price_num {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.price_line {
  width: 1px;
  height: 20px;
  background-color: #fff;
}
.price_count {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  gap: 4px;
  color: #fff;
}
