.card {
    max-width: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_img {
    max-width: 260px;
    width: 100%;
}

.card_name {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
}
.card_kind {
    padding: 7px 5px;
    display: flex;
    background: #F3F3F3;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.card_kind_name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 132px;
    cursor: pointer;

}
.card_kind_name_active {
    background: #fff;
    border-radius: 10px;
}

.card_size {
    display: flex;
    background: #F3F3F3;
    width: 100%;
    border-radius: 0 0 10px 10px;
    justify-content: center;
    padding-bottom: 8px;
}

.card_size_sm {
    display: flex;
    justify-content: center;
    width: 87px;
    padding: 6px 0;
    cursor: pointer;
}

.card_size_sm_active {
    background: #fff;
    border-radius: 10px;
}

.card_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 24px;
}

.price_num {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.33px;
}