.content {
  margin: 32px;
  padding: 45px;
  background-color: #fff;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pizzaIcon {
  display: flex;
  align-items: center;
  gap: 17px;
}
.pizzaIcon > img {
  width: 38px;
  height: 38px; 
}
.title { 
  display: flex;
  flex-direction: column;
}
.title > h1 {
  color: #181818;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.24px;
  text-transform: uppercase; 
}

.title > p {
  color: #7B7B7B;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.price {
  padding: 15px 19px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  background: #FE5F1E;
  color: #fff;
  gap: 7px;
}
.price_num {
  font-size: 16px;
  font-weight: 700;
}
.price_line {
  width: 1px;
  height: 20px;
  background-color: #fff;
}
.price_count {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  gap: 4px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.category {
  display: flex;
  gap: 8.45px;
}

.category_name {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 10px 20px ;
  background: #F9F9F9;
  cursor: pointer;
}

.category_name_active {
  background: #000000;  
  color: #fff;
}

.sort {
  display: flex;
  gap: 10px;
  color: #2C2C2C;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.21px;
}

.sort_name {
  color: #FE5F1E;
  font-weight: 400;
  cursor: pointer;
}